Repository SEPBFWS121A/Planty, pull requests merged in 2023-06, with the labels that each got.

#48 Update README.md
  README.md
Labels: enhancement

#49 Feature/uitests
  frontend/.gitignore
  frontend/cypress/e2e/e2e.cy.ts
  frontend/cypress/e2e/uiTestCategory.cy.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/components/footer/footer.component.spec.ts
  frontend/src/app/components/plant-management/plant-management.component.html
  frontend/yarn.lock
Labels: test

#54 Merge branch bugfix/backend-roomid into main
  backend/src/main/java/de/planty/api/PlantApiImpl.java
  backend/src/main/java/de/planty/api/PlantTypeApiImpl.java
  backend/src/main/java/de/planty/api/RoomApiImpl.java
  backend/src/main/java/de/planty/api/SensorApiImpl.java
  backend/src/main/java/de/planty/util/StringUtil.java
Labels: enhancement

#56 Merge branch feature/test-stage-optional-envs
  .github/workflows/main.yml
  backend/pom.xml
  backend/src/main/java/de/planty/GreetingResource.java
  backend/src/main/java/de/planty/api/MoistureRecordApiImpl.java
  backend/src/main/java/de/planty/api/PlantApiImpl.java
  backend/src/main/java/de/planty/api/PlantTypeApiImpl.java
  backend/src/main/java/de/planty/api/RoomApiImpl.java
  backend/src/main/java/de/planty/api/SensorApiImpl.java
  backend/src/main/java/de/planty/gen/api/MoistureRecordApi.java
  backend/src/main/java/de/planty/gen/api/PlantApi.java
  backend/src/main/java/de/planty/gen/api/PlantTypeApi.java
  backend/src/main/java/de/planty/gen/api/RoomApi.java
  backend/src/main/java/de/planty/gen/api/SensorApi.java
  backend/src/main/java/de/planty/gen/model/GenErrorMessage.java
  backend/src/main/java/de/planty/gen/model/GenMoistureRecord.java
  backend/src/main/java/de/planty/gen/model/GenMoistureRecordPayload.java
  backend/src/main/java/de/planty/gen/model/GenPlant.java
  backend/src/main/java/de/planty/gen/model/GenPlantPayload.java
  backend/src/main/java/de/planty/gen/model/GenPlantType.java
  backend/src/main/java/de/planty/gen/model/GenPlantTypePayload.java
  backend/src/main/java/de/planty/gen/model/GenRoom.java
  backend/src/main/java/de/planty/gen/model/GenRoomPayload.java
  backend/src/main/java/de/planty/gen/model/GenSensor.java
  backend/src/main/java/de/planty/gen/model/GenSensorConfigurationPayload.java
  backend/src/main/java/de/planty/gen/model/GenSensorPayload.java
  backend/src/main/java/de/planty/hibernate/entity/EntityMoistureRecord.java
  backend/src/main/java/de/planty/hibernate/entity/EntityPlant.java
  backend/src/main/java/de/planty/hibernate/entity/EntityPlantType.java
  backend/src/main/java/de/planty/hibernate/entity/EntityRoom.java
  backend/src/main/java/de/planty/hibernate/entity/EntitySensor.java
  backend/src/main/java/de/planty/util/ErrorResponseBuilder.java
  backend/src/main/resources/application.properties
  backend/src/test/java/de/planty/RoomApiTest.java
Labels: bug, enhancement

#55 Merge branch Test/test-ewald-planty/sensor into main
  backend/src/main/java/de/planty/api/RoomApiImpl.java
  backend/src/test/java/de/planty/MockData.java
  backend/src/test/java/de/planty/PlantApiTest.java
  backend/src/test/java/de/planty/RoomApiTest.java
  backend/src/test/java/de/planty/SensorApiTest.java
  frontend/cypress/e2e/uiTestCategory.cy.ts
Labels: test

#58 Merge branch Test/unit-mapper-room into main
  backend/src/main/java/de/planty/api/PlantApiImpl.java
  backend/src/main/java/de/planty/gen/model/GenRoomPayload.java
  backend/src/main/java/de/planty/hibernate/mapper/MoistureRecordEntityMapper.java
  backend/src/main/java/de/planty/hibernate/mapper/PlantEntityMapper.java
  backend/src/main/java/de/planty/hibernate/mapper/PlantTypeEntityMapper.java
  backend/src/main/java/de/planty/hibernate/mapper/RoomEntityMapper.java
  backend/src/main/java/de/planty/hibernate/mapper/SensorEntityMapper.java
  backend/src/test/java/de/planty/MockData.java
  backend/src/test/java/de/planty/PlantApiTest.java
  backend/src/test/java/de/planty/PlantTypeApiTest.java
  backend/src/test/java/de/planty/QuarkusUtils.java
  backend/src/test/java/de/planty/RoomApiTest.java
  backend/src/test/java/de/planty/SensorApiTest.java
  backend/src/test/java/de/planty/integration/a/A_PlantTypeApiTest.java
  backend/src/test/java/de/planty/integration/a/A_RoomApiTest.java
  backend/src/test/java/de/planty/integration/a/A_SensorApiTest.java
  backend/src/test/java/de/planty/integration/b/B_PlantApiTest.java
  backend/src/test/java/de/planty/unit/mappers/RoomEntityMapperTest.java
Labels: bug, enhancement, test

#59 Merge branch Test/unit-mapper-plant into main
  backend/src/test/java/de/planty/unit/mappers/PlantEntityMapperTest.java
Labels: test
